/* Navbar */
.navbar {
    background-color: #313852;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
    letter-spacing: 1px;
}

/*Contenedor Botones*/
.nav-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-btn {
    background-color: #313852;
    color: white;
    padding: 6px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    border: none;
    transition: 0.3s;
}

/*Hover*/
.nav-btn:hover {
    background-color: #1f2533;
    transform: scale(1.05);
}

/* HERO */
.hero {
    background: #C2CBD4;
    color: #313852;
    padding: 60px;
}

.hero h1 {
    font-weight: bold;
}

/*Logo*/
.logo {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar img {
    border-radius: 50%;
    object-fit: cover;
}

/*Formulario*/
.form-box {
    border-radius: 15px;
    background-color: white;
}

.form-box:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/*Botón enviar*/
.btn-custom {
    background-color: #313852 !important;
    color: white !important;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn-custom:hover {
    background-color: #1f2533 !important;
    transform: scale(1.05);
    transition: 0.3s;
}

/*Footer*/
footer {
    background-color: #313852;
    color: white;
    padding: 20px;
}
