.tarjeta-servicio {
  transition: transform 0.3s;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta-servicio:hover {
  transform: scale(1.05);
}

.tarjeta-servicio img {
  height: 200px;
  object-fit: cover;
}

.boton-servicio {
  background-color: #313852 !important;
  border: none !important;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.boton-servicio:hover {
  background-color: #c2cbd4 !important;
  color: #313852 !important;
}